.error {
	color: red;
}

.siteinfo {
	margin: 30px;
}

.siteinfo h2 {
	margin-top: 50px;
}

table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

th {
	background-color: pink;
}

table {
	margin: 30px;
}

table tr:nth-child(odd) {
  background-color: #00fff1;
}
