table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

th {
	background-color: pink;
}

table {
	margin-bottom: 20px;
}

table tr:nth-child(odd) {
  background-color: #00fff1;
}
